.login-card {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    height: 80vh;
}

.login-card-2 {
    padding: 10px;
    height: 100%;
}

.login-card-2-text {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

.login-card-2-text-alternative {
    color: #1976D2;
}

.login-card-2-questions {
    margin-top: 50%;
}

.login-card-2-questions-icon {
    font-size: 400%;
    color: #D9D9D9;
}

.login-card-title {
    color: #FF7043;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.login-card-button {
    width: 30%;
    font-weight: bold;
}

.login-card-form {
    margin-top: 10%;
    width: 100%;
}

.login-card-text-2 {
    font-size: 14px;
    font-weight: bold;
    color: #FF7043;
}

.login-card-button-register {
    width: 20%;
    font-size: 16px;
    font-weight: bold;
}

.login-card-img {
    border-bottom: #000;
}